# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3
data/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Distribution / packaging
dist/
build/
*.egg-info/

# Flask file
instance/

# System Files
.DS_Store
Thumbs.db 